body {
  background-color: lightgrey;
  font-size: 24px;
}

.app {
  position: relative;
  padding-top: 2rem;
  margin: 0 auto;
  width: 40rem;
  left: 0;
  top: 0;
}

.title_bar {
  background-color: #3d3d3d;
  position: relative;
  padding: 0.5rem;
  color: white;
  width: 100%;
  left: 0;
  top: 0;
}
.title_bar input[type=text] {
  padding-left: 0.5rem;
  display: inline;
  border: none;
  width: 100%;
}
.title_bar #combat_icon {
  color: #e24d4d;
}

#form {
  padding: 1rem 0 1rem 0;
}

#output {
  min-height: 4rem;
}

.creature_badge {
  display: inline-flex;
  position: relative;
  float: left;
}

#description {
  border-bottom: 1px dotted black;
}

/*# sourceMappingURL=main.css.map */
