<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/daa302a4cf.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Mesa</title>
</head>
<body>
<div class="app">
    <p id="output">
        <span th:if="${text.getTileDescription() != ''}" th:text="${text.getTileDescription()}" id="description"></span>
        <br>
        <span th:if="${text.getAction() != ''}" th:text="${text.getAction()}"></span>
        <br>
        <span th:if="${text.getOptions() != ''}" th:text="${text.getOptions()}"></span>
    </p>
    <div class="title_bar">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <i class="far fa-compass"></i>&nbsp;<span th:text="${text.getPositionText()}"></span>
                </div>
                <div class="col-7">
                    <form th:action="@{/mesa}" th:object="${adventure}" method="post">
                        <label>
                            <input type="text" name="user_input" autofocus placeholder="What now?"/>
                        </label>
                    </form>
                </div>
                <div class="col-auto">
                    <i th:if="${adventure.getPlayer.isInFight()}" class="fas fa-bolt" id="combat_icon"></i>
                </div>
                <div class="col-auto">
                    <i class="fas fa-heart"></i>&nbsp;<span th:text="${hitpoints}"></span>
                </div>
            </div>
        </div>
    </div>
    <p th:if="${adventure.getPlayer.isInFight()}">
        <option th:each="creature : ${creatures}" class="creature_badge">
            <span class="badge bg-secondary">
                <span th:text="${creature.getName()}"></span>&nbsp;
                <i th:if="${!creature.isAlive}" class="fas fa-skull"></i>
            </span>
        </option>
    </p>
    <p>
        <div th:if="${text.getError() != ''}" class="alert alert-danger" role="alert" th:text="${text.getError()}"></div>
    </p>
</div>
</body>
</html>